*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/ryanjames/swabergersmobilepos/helper/FcmHelper.kt
/app/src/main/java/com/ryanjames/swabergersmobilepos/helper/TestNotification.kt
/app/google-services.json
