<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanjames.swabergersmobilepos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.SwabergersApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dagger.SampleActivity" />
        <activity android:name=".feature.bagsummary.BagSummaryActivity" />
        <activity android:name=".activity.MenuItemDetailActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".feature.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".core.BaseActivity" />
        <activity android:name=".feature.menuitemdetail.MenuItemDetailActivity" />
    </application>

</manifest>